.header {
    width: 80%;
    margin: 0 auto;
    /* background-color: var(--container-color) !important; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0rem .5rem 0rem;
    /* padding: .5rem 3rem .5rem 3rem; */

}

.menu-icon {
    display: none;
}

.close-btn {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    color: white;
    font-size: 1rem;
    margin: 0rem 1rem 0rem 1rem;
}

.nav-links li a:hover {
    color: darkcyan;
    transition: .4s all ease;
}

@media (max-width:768px) {
    .header {
        /* width: 100%; */
    }

    .icon-color-menu {
        font-size: 1.8rem;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .close-btn {
        display: block;
        margin-left: 10rem;
        margin-top: 1rem;
        cursor: pointer;

    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 0px;
        /* background-color: var(--container-color); */
        flex-direction: column;
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        z-index: 1000;
        overflow: hidden;
        background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16px );
-webkit-backdrop-filter: blur( 16px );
/* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .nav-links li {
        display: block;
    }

    .nav-links li a {
        margin: 0;
        display: block;
        color: white;
        margin-top: 1.5rem;
        text-align: right;
    }

    .active-nav-links {
        width: 270px;
        /* color:black; */
    }
}