.hero-body{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
.hexagon {
    width: 400px;
    height: 400px;
    background: darkcyan;
    position: relative;
  }
  .hero-content{
    width: 50%;
    margin-top: 1rem;
  }
  .hero-image{
    width: 50%;
  }
  .hero-content p{
    font-size: 1.5rem;
    font-weight: normal;
  }
  .hero-content span{
    font-size: 1.5rem;
    font-weight: normal;
    color: darkcyan;
    margin-left: .1rem;
  }
  .hero-content h1{
    font-size: 3rem;
    color: darkcyan;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  .hero-content h3{
    font-size: 2rem;
  }
  .para{
    margin-top: 1rem;
    font-size: .7rem !important;
    color: var(--text-color);
  }
  .btn-container{
    margin-top: 2rem;
  }
 
  .social-link{
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  .icon{
    background-color: darkcyan;
    padding: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border: 1px solid darkcyan;
    border-radius: .625rem;
    cursor: pointer;
  }
  .icon-color{
    font-size: 1.2rem;
    cursor: pointer;
  }
  .icon:hover{
    background-color: transparent;
    color: white;
    transition: .4s all ease;
    border: 1px solid darkcyan;
  }
  @media (max-width:768px) {
    .hero-body{
        flex-direction: column;
    }
    .hero-content{
        width: 100%;
    }
    .hero-image{
        width: 100%;
        margin-top: 2rem;
    }
  }